<h1>This is the Home Page for Code Journal</h1>

Currently only used for development purposes to provides links to all types of pages for quick navigation.

<h4>Navigation</h4>
<ul>
  <li><%= link_to 'Lesson Library','/lesson_categories' %></li>
  <li><%= link_to 'Make new Category','/lesson_categories/new' %></li>
  <li><%= link_to 'Lesson Dashboard','/lessons' %></li>
  <li><%= link_to 'Add a New Lesson','/lessons/new' %></li>
</ul>

<div id="editor">ADD CODE HERE</div>
<!-- Move to Ace JavaScript -->
<script>
var editor = ace.edit("editor");
ace.config.set("modePath", "/ace/");
ace.config.set("themePath", "/ace/");
editor.getSession().setUseWorker(false);
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/ruby");
</script>
<!-- Move to SCSS -->
<style type="text/css" media="screen">
    #editor { 
        width: 60em;
        height: 300px;
    }
</style>
