<div class="container">
  <h1>This is the Home Page for Code Journal</h1>

  Currently only used for development purposes to provides links to all types of pages for quick navigation.

  <h4>Navigation</h4>
  <ul>
    <li><%= link_to 'Lesson Library','/lesson_categories' %></li>
    <li><%= link_to 'Make new Category','/lesson_categories/new' %></li>
    <li><%= link_to 'Lesson Dashboard','/lessons' %></li>
    <li><%= link_to 'Add a New Lesson','/lessons/new' %></li>
  </ul>

  <div id="intro">
    <h3>Welcome to the Code Journal!</h3>
    <p>Create a Web Based Notebook for individuals to find / create user generated executable Cheat Sheets that are input by users in a hybrid blog / code format.</p>
    <p>Users create problems to test themselves and share with others and are encouraged to go through "build-up" procedure where they identify a problem , create user stories / use cases , accompanying tests and implement code to exercise the test, and so forth to build an eventual solution. (Currently hard to describe). which can be exported as a working product. (repository/directory(git_bundle))</p>
  </div>

  <div id="features">
    <h3>Features</h3>
  </div>

  <div id="practice_code">
    <h4>Coding</h4>
  </div>

  <div id="test_code">
    <h4>Built-In Testing</h4>
  </div>

  <div id="Archivable References">
    <h4>Downloadable Workspaces</h4>
  </div>

</div>

