<h1>User's Lesson Dashboard</h1>

<div>
  <p>This page represents a logged in user's Learning Dashboard. It should represent the homepage if a user is logged in.
  </p>
</div>

<div>
  <h2>Current Learning</h2>
  <p> Loop through and List Current User's Lesson Sessions.</p>
</div>